<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897659123359-gbvtov7icruceq8s2m6auacsqrrrhlar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897659123359-gbvtov7icruceq8s2m6auacsqrrrhlar</string>
	<key>API_KEY</key>
	<string>AIzaSyB1yXUi_fRNPD0E7Pk0HXAXga17BQAcYMA</string>
	<key>GCM_SENDER_ID</key>
	<string>897659123359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iden3.hermezwallet</string>
	<key>PROJECT_ID</key>
	<string>hermez-d1848</string>
	<key>STORAGE_BUCKET</key>
	<string>hermez-d1848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:897659123359:ios:d37ff3c49133aab88bd4aa</string>
	<key>DATABASE_URL</key>
	<string>https://hermez-d1848.firebaseio.com</string>
</dict>
</plist>
